#title{
	color: orange;
	margin-left: 50px;
}

#city-number{
	margin-left: 50px;
	margin-top: -10px;
}

#describe{
	font-weight: 700;
	font-size: 20px;
}

#div1{
	margin-left: 50px;
	margin-top:-35px;
}

/* the following codes' reference url: http://bl.ocks.org/caged/6476579 */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


